:root {
	--font-family-1: 'JetBrains Mono', monospace;
	--border-radius: 5px;
	--bg-dark-color: #1a1b1e;
	--bg-editor: #1e1e1e;
	--primary-color: #b0fe76;
	--text-light-color: #f9ebe0;
}

* {
	box-sizing: border-box;
}

.body {
	margin: 0;
	font-family: var(--font-family-1);
}
.root {
	width: 100vw;
	height: 100vh;
}

.header {
	border-bottom: 1px solid rgb(230, 230, 230);
}
.nav {
	padding: 1rem 0;
	max-width: 80%;
	margin: 0 auto;
}
.nav__container {
}
.nav__app-name {
	margin: 0;
	font-weight: 800;
	font-size: 1rem;
}
.main {
	max-width: 80%;
	margin: 0 auto;
	/* outline: 1px solid red; */
}
.main__container {
	padding: 1rem 0;
}
.form{
	display: flex;
	gap: 1rem;
}
.form__input {
	padding: .5rem;
	border-radius: 8px;
	border: 1px solid rgb(230, 230, 230);
	box-shadow: inset 0px 3px 5px rgba(224, 224, 224, 0.486);
}
.form__date-beg {
	padding: .5rem;
	border-radius: 8px;
	border: 1px solid rgb(230, 230, 230);
	box-shadow: inset 0px 3px 5px rgba(224, 224, 224, 0.486);
}
.form__date-end {
	padding: .5rem;
	border-radius: 8px;
	border: 1px solid rgb(230, 230, 230);
	box-shadow: inset 0px 3px 5px rgba(224, 224, 224, 0.486);
}
.form__button {
	padding: .5rem;
	border-radius: 8px;
	border: 1px solid rgb(230, 230, 230);
	box-shadow: inset 0px 3px 5px rgba(224, 224, 224, 0.486);
	background-color: transparent;
}



.results{
}
.results__title{
	font-weight: 500;	
}
.results__num{
	color:#a4a4a4;
}
.results__list{
	list-style: none;
	padding-left: 0;
}
.result{
	font-size: .9rem;
	padding: .5rem;
	border-radius: 8px;
	border: 1px solid rgb(230, 230, 230);
	margin-bottom: .5rem;
}
.result__date{
	margin:0;
	margin-bottom: .5rem;
}
.result__words{
	display: flex;
	flex-wrap: wrap;
	gap: .5rem;
}
.result__word{
	font-weight: 200;
	margin:0;
	border-radius: 8px;

	padding: .2rem .5rem;
	background-color: #3333330c;
	
}
